.coin{
    border: 1px solid rgb(58, 58, 58);
    border-radius: 6px;
    color:white;
    width: 20%;
    height: 230px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(5px);
    cursor: pointer;
}


.coin-header{
    /* border: 3px solid red; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    color: gray;

}

.coin-name{
    font-size: 15px;
    /* padding-left: 5px; */
}

.coin-rank{
    font-size: 14px;
    font-weight: bold;
}

.coin-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.coin-image{
    width: 70px;
}

.coin-price{
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

.coin-cap{
    display: flex;
    padding: 3px;
    width: fit-content;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
}