/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */

.header{
    color: whitesmoke;
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 19rem;


}

.header-h1{
    font-size: 10rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header > p{
    /* border: 3px solid red; */
    width: 60%;
    text-align: center;
    letter-spacing: 0.5px;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes rotate {

    from{
        transform: rotate(40deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.btc-icon{
    animation: fade 1s ease-in-out;
    width: 20rem;
}



@keyframes bounce{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}




@media screen and (max-width: 650px) {


    .btc-icon{
        width: 300px;
        object-fit: cover;
    }
    
    .header-h1{
        font-size: 90px;
    }

}


@media screen and (max-width: 430px) {


        .header{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            /* border: 2px solid red; */
        }
        .header-h1{
            font-size: 30px;
        }

        .header > p{
            width: 70%;
            
        }
    
    
}